<!-- 
/* VMP-by-Summer-Soldier
*
* Copyright (C) 2020 SUMMER SOLDIER
*
* This file is part of VMP-by-Summer-Soldier
*
* VMP-by-Summer-Soldier is free software: you can redistribute it and/or modify it
* under the terms of the GNU General Public License as published by the Free
* Software Foundation, either version 3 of the License, or (at your option)
* any later version.
*
* VMP-by-Summer-Soldier is distributed in the hope that it will be useful, but WITHOUT
* ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
* FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with
* VMP-by-Summer-Soldier. If not, see http://www.gnu.org/licenses/.
*/ -->

<%
function EpocToDate(utcSeconds){
  var d = new Date(0);
  d.setUTCSeconds(utcSeconds)
  return d 
}
%>

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="./css/style.css" rel="stylesheet">
  <title>VMP-SS</title>
  <link rel="icon" href="favicon.ico" type="image/x-icon">
</head>

<body>
  <%- include('header.ejs') %>
  <h1>All Server's Vip Listing</h1>
  <% if(vipData) {%>
  <% for(let i=0; i < vipData.length; i++) { %>
  <div class="column table">
    <div class="tabletitle"><%=vipData[i].name.toUpperCase()%></div>
    <table>
      <thead>
        <tr>
          <th>Steam ID</th>
          <th>Name</th>
          <th>Expire Date</th>
        </tr>
      </thead>
      <tbody>
        <% if(vipData[i].data) {%>
        <% for(let j=0; j < vipData[i].data.length; j++) { %>
        <tr>
          <td><%=vipData[i].data[j].authId?vipData[i].data[j].authId.replace('/"/g', ''):"NA"%></td>
          <td><%=vipData[i].data[j].name?vipData[i].data[j].name.replace("//",""):"NA"%></td>
          <td><%=vipData[i].data[j].expireStamp?EpocToDate(vipData[i].data[j].expireStamp):"NA"%></td>
        </tr>
        <%}}%>
      </tbody>
    </table>
  </div>
  <%}}%>
  <%- include('footer.ejs') %>
</body>

</html>