<!-- 
/* VMP-by-Summer-Soldier
*
* Copyright (C) 2020 SUMMER SOLDIER
*
* This file is part of VMP-by-Summer-Soldier
*
* VMP-by-Summer-Soldier is free software: you can redistribute it and/or modify it
* under the terms of the GNU General Public License as published by the Free
* Software Foundation, either version 3 of the License, or (at your option)
* any later version.
*
* VMP-by-Summer-Soldier is distributed in the hope that it will be useful, but WITHOUT
* ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
* FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with
* VMP-by-Summer-Soldier. If not, see http://www.gnu.org/licenses/.
*/ -->

<%- include('Header.ejs') %>

<div class="content">
  <div class="container-fluid">
    <div class="row">

      <%- include('SteamDataFetchTool.ejs') %>

      <div class="col-md-6">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Add Admin</h4>
            <p class="card-category">Form to add a new Admin in Server</p>
          </div>
          <div class="card-body" style="height:360px;">
            <form>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group bmd-form-group">
                    <label class="bmd-label-floating">Enter Steam ID</label>
                    <input id="steamId_add" type="text" class="form-control" required>
                  </div>
                  <div class="form-group bmd-form-group">
                    <label class="bmd-label-floating">Enter User Name</label>
                    <input id="name_add" type="text" class="form-control" required>
                  </div>
                  <div class="form-group bmd-form-group">
                    <label class="bmd-label-floating">Enter the Flag and level String</label>
                    <input id="flag_add" type="text" class="form-control" required>
                  </div>
                  <div class="form-group bmd-form-group">
                    <label class="">Select Servers to add in</label>
                    <div class="col-md-12 row">
                      <% if(serverList) {%>
                      <% for(let i=0; i < serverList.length; i++) { %>
                      <div class="col-md-3">
                        <input class="form-check-input" type="checkbox" name="server_add" value="<%=serverList[i]%>"
                          id="<%='server_add'+i%>">
                        <label class="form-check-label" for="<%='server_add'+i%>">
                          <%=serverList[i].toUpperCase()%>
                        </label>
                      </div>
                      <%}}%>
                    </div>
                  </div>
                </div>
              </div>
              <button type="button" onclick="addNewAdminajax()" class="btn btn-success pull-right">ADD ADMIN</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Help</h4>
            <p class="card-category">Use below details for generating admin flag and level</p>
          </div>
          <div class="card-body row" style="height:360px;overflow: auto;" id="style-4">
            <div class="col-md-6">
              Flag Format : "immunity level:flag"
              <br><br>
              Some Examples are given below
              <br>
              0:b (Generic Admin with 0 immunity)<br>
              50:abc (Generic Admin with 50 immunity and reservation, kick access)<br>
              99:z (A root admin with all acess and full immunity)<br>
            </div>
            <div class="col-md-6">
              <label class="">Admin Levels</label>
              <div class="table-responsive">
                <table class="table">
                  <thead class=" text-primary">
                    <th>Name</th>
                    <th>Flag</th>
                    <th>Purpose</th>
                  </thead>
                  <tbody>
                    <tr class="">
                      <td>Name</td>
                      <td>Flag</td>
                      <td>Purpose</td>
                    </tr>
                    <tr class="">
                      <td>reservation</td>
                      <td>a</td>
                      <td>Reserved slot access.</td>
                    </tr>
                    <tr class="">
                      <td>generic</td>
                      <td>b</td>
                      <td>Generic admin; required for admins.</td>
                    </tr>
                    <tr class="">
                      <td>kick</td>
                      <td>c</td>
                      <td>Kick other players.</td>
                    </tr>
                    <tr class="">
                      <td>ban</td>
                      <td>d</td>
                      <td>Ban other players.</td>
                    </tr>
                    <tr class="">
                      <td>unban</td>
                      <td>e</td>
                      <td>Remove bans.</td>
                    </tr>
                    <tr class="">
                      <td>slay</td>
                      <td>f</td>
                      <td>Slay/harm other players.</td>
                    </tr>
                    <tr class="">
                      <td>changemap</td>
                      <td>g</td>
                      <td>Change the map or major gameplay features.</td>
                    </tr>
                    <tr class="">
                      <td>cvar</td>
                      <td>h</td>
                      <td>Change most cvars.</td>
                    </tr>
                    <tr class="">
                      <td>config</td>
                      <td>i</td>
                      <td>Execute config files.</td>
                    </tr>
                    <tr class="">
                      <td>chat</td>
                      <td>j</td>
                      <td>Special chat privileges.</td>
                    </tr>
                    <tr class="">
                      <td>vote</td>
                      <td>k</td>
                      <td>Start or create votes.</td>
                    </tr>
                    <tr class="">
                      <td>password</td>
                      <td>l</td>
                      <td>Set a password on the server.</td>
                    </tr>
                    <tr class="">
                      <td>rcon</td>
                      <td>m</td>
                      <td>Use RCON commands.</td>
                    </tr>
                    <tr class="">
                      <td>cheats</td>
                      <td>n</td>
                      <td>Change sv_cheats or use cheating commands.</td>
                    </tr>
                    <tr class="">
                      <td>root</td>
                      <td>z</td>
                      <td>Magically enables all flags and ignores immunity values.</td>
                    </tr>
                    <tr class="">
                      <td>custom1</td>
                      <td>o</td>
                      <td>Custom Group 1.</td>
                    </tr>
                    <tr class="">
                      <td>custom2</td>
                      <td>p</td>
                      <td>Custom Group 2.</td>
                    </tr>
                    <tr class="">
                      <td>custom3</td>
                      <td>q</td>
                      <td>Custom Group 3.</td>
                    </tr>
                    <tr class="">
                      <td>custom4</td>
                      <td>r</td>
                      <td>Custom Group 4.</td>
                    </tr>
                    <tr class="">
                      <td>custom5</td>
                      <td>s</td>
                      <td>Custom Group 5.</td>
                    </tr>
                    <tr class="">
                      <td>custom6</td>
                      <td>t</td>
                      <td>Custom Group 6.</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">View and Manage Admin</h4>
            <p class="card-category">Select a server to view the list</p>
          </div>
          <div class="card-body">
            <form class="col-md-4">
              <div class="form-group bmd-form-group">
                <label class="bmd-label-floating">Select Server</label>
                <select class="form-control" id="server_update"
                  onchange="getAdminTableListing(this.options[this.selectedIndex].value)">
                  <option value="" selected>Select Server</option>
                  <% if(serverList) {%>
                  <% for(let i=0; i < serverList.length; i++) { %>
                  <option value="<%=serverList[i]%>"><%=serverList[i].toUpperCase()%></option>
                  <%}}%>
                </select>
              </div>
            </form>
            <hr />
            <div class="table-responsive">
              <table class="table" id="manageVipTable">
                <thead class=" text-primary">
                  <th>Steam ID</th>
                  <th>Name</th>
                  <th>Flags</th>
                  <th>Actions</th>
                </thead>
                <tbody id="manageVipTableBody">
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<%- include('Footer.ejs') %>

<script src="./js/ManageAdmin.js"></script>
<script src="./js/customConfirm.js"></script>
<script src="./js/notifications.js"></script>
<script src="./js/steamIdFinder.js"></script>
<script src="./js/steamIdOperations/BigInteger.min.js"></script>
<script src="./js/steamIdOperations/converter-min.js"></script>