<!-- 
/* VMP-by-Summer-Soldier
*
* Copyright (C) 2020 SUMMER SOLDIER
*
* This file is part of VMP-by-Summer-Soldier
*
* VMP-by-Summer-Soldier is free software: you can redistribute it and/or modify it
* under the terms of the GNU General Public License as published by the Free
* Software Foundation, either version 3 of the License, or (at your option)
* any later version.
*
* VMP-by-Summer-Soldier is distributed in the hope that it will be useful, but WITHOUT
* ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
* FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with
* VMP-by-Summer-Soldier. If not, see http://www.gnu.org/licenses/.
*/ -->


<%- include('Header.ejs') %>

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-<%=panelSetting.color_theme%>">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="setting-tab" data-toggle="tab" href="#setting" role="tab"
                  aria-controls="setting" aria-selected="true"><i class="material-icons">settings</i> Panel Settings</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="server-tab" data-toggle="tab" href="#server" role="tab" aria-controls="server"
                  aria-selected="false"><i class="material-icons">device_hub</i> Manage Servers</a>
              </li>
            </ul>
          </div>
          <div class="card-body">
            <div class="tab-content">
              <div class="tab-pane active" id="setting" role="tabpanel" aria-labelledby="setting-tab">
                <form class="col-md-12" method="post" action="/updatepanelsetting">
                  <div class="col-md-12 row">
                    <!-- Theme Setting -->
                    <div class="col-md-2">
                      <label class="">Panel Theme</label>
                    </div>
                    <div class="col-md-10 row">
                      <div class="col-md-2">
                        <input class="form-check-input" type="radio" name="color_theme" value="danger" id="danger">
                        <label class="form-check-label" for="danger">Red</label>
                      </div>
                      <div class="col-md-2">
                        <input class="form-check-input" type="radio" name="color_theme" value="primary" id="primary">
                        <label class="form-check-label" for="primary">Purple</label>
                      </div>
                      <div class="col-md-2">
                        <input class="form-check-input" type="radio" name="color_theme" value="warning" id="warning">
                        <label class="form-check-label" for="warning">Orange</label>
                      </div>
                      <div class="col-md-2">
                        <input class="form-check-input" type="radio" name="color_theme" value="success" id="success">
                        <label class="form-check-label" for="success">Green</label>
                      </div>
                      <div class="col-md-2">
                        <input class="form-check-input" type="radio" name="color_theme" value="info" id="info">
                        <label class="form-check-label" for="info">Blue</label>
                      </div>
                    </div>
                    <!-- Admin in dash Setting -->
                    <div class="col-md-2">
                      <label class="">Show Admins in Dashboard</label>
                    </div>
                    <div class="col-md-10 row">
                      <div class="col-md-2">
                        <input class="form-check-input" type="radio" name="dash_admin_show" value="1" id="adminTrue">
                        <label class="form-check-label" for="adminTrue">Yes</label>
                      </div>
                      <div class="col-md-2">
                        <input class="form-check-input" type="radio" name="dash_admin_show" value="0" id="adminFalse">
                        <label class="form-check-label" for="adminFalse">No</label>
                      </div>
                    </div>
                  </div>
                  <hr>
                  <button type="submit" onclick="$(this).parents('form').submit()"
                    class="btn btn-success pull-right">Update
                    Settings</button>
                </form>
              </div>
              <div class="tab-pane" id="server" role="tabpanel" aria-labelledby="server-tab">
                <div class="table-responsive">
                  <table class="table">
                    <thead class=" text-primary">
                      <th>Server Name</th>
                      <th>Table Name</th>
                      <th>Added on</th>
                      <th>Action</th>
                    </thead>
                    <tbody id="manageServersTableBody">
                    </tbody>
                  </table>
                </div>
                <hr>
                <form class="col-md-12" id="myForm_addPServer">
                  <div class="row">
                    <div class="col-md-5">
                      <div class="form-group bmd-form-group">
                        <label class="bmd-label-floating">Server Name</label>
                        <input type="text" name="servername" class="form-control" id="servername_add" required>
                      </div>
                    </div>
                    <div class="col-md-5">
                      <div class="form-group bmd-form-group">
                        <label class="bmd-label-floating">Server table name (Defined in plugin's cfg)</label>
                        <input type="text" name="servertablename" class="form-control" id="servertablename_add"
                          required>
                      </div>
                    </div>
                    <div class="col-md-2">
                      <div class="form-group bmd-form-group">
                        <button type="button" onclick="addNewPServerajax()" class="btn btn-success pull-right">Add
                          Server</button>
                      </div>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%if(adminType===1){%>
      <div class="col-md-6">
        <div class="card">
          <div class="card-header card-header-<%=panelSetting.color_theme%>">
            <h4 class="card-title">Add Panel Admin</h4>
            <p class="card-category">Form to add a new Admins in VMPanel</p>
          </div>
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group bmd-form-group">
                    <label class="bmd-label-floating">Enter Username</label>
                    <input id="username_padd" type="text" class="form-control" required>
                  </div>
                  <div class="form-group bmd-form-group">
                    <label class="bmd-label-floating">Enter Password</label>
                    <input id="password_padd" type="password" class="form-control" required>
                  </div>
                  <div class="form-group bmd-form-group">
                    <label class="bmd-label-floating">Select Admin Type</label>
                    <select class="form-control" id="admintype_padd" required>
                      <option value="" selected>Select Admin Type</option>
                      <option value="1">Super Admin</option>
                      <option value="0">Normal Admin</option>
                    </select>
                  </div>
                </div>
              </div>
              <button type="button" onclick="addNewPAdminajax()" class="btn btn-success pull-right">ADD ADMIN</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-header card-header-<%=panelSetting.color_theme%>">
            <h4 class="card-title">Update Panel Admin</h4>
            <p class="card-category">Form to Change Password or Delete Panel Admin</p>
          </div>
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group bmd-form-group">
                    <label class="bmd-label-floating">Select Admin</label>
                    <select class="form-control" id="selected_padmin" required>
                      <option value="" selected>Select Admin</option>
                    </select>
                  </div>
                  <div class="form-group bmd-form-group">
                    <label class="bmd-label-floating">Enter New Password</label>
                    <input id="password_pupdate" type="password" class="form-control" required>
                  </div>
                  <div class="form-group bmd-form-group">
                    <label class="bmd-label-floating"></label>
                    <input type="text" class="form-control" disabled>
                  </div>
                </div>
              </div>
              <button type="button" onclick="deletePAdminajax()" class="btn btn-danger pull-left">DELETE</button>
              <button type="button" onclick="updateOldPAdminajax()" class="btn btn-success pull-right">UPDATE</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
      <%}%>


</div>
</div>
</div>


<%- include('Footer.ejs') %>
      <script>
        var curentAdminType = <%=adminType%>
      </script>
      <script src="./js/PanelSettings.js"></script>
      <script src="./js/customConfirm.js"></script>
      <script src="./js/notifications.js"></script>