<!-- 
/* VMP-by-Summer-Soldier
*
* Copyright (C) 2020 SUMMER SOLDIER
*
* This file is part of VMP-by-Summer-Soldier
*
* VMP-by-Summer-Soldier is free software: you can redistribute it and/or modify it
* under the terms of the GNU General Public License as published by the Free
* Software Foundation, either version 3 of the License, or (at your option)
* any later version.
*
* VMP-by-Summer-Soldier is distributed in the hope that it will be useful, but WITHOUT
* ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
* FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with
* VMP-by-Summer-Soldier. If not, see http://www.gnu.org/licenses/.
*/ -->

<%
function EpocToDate(utcSeconds) {
  let d = new Date(0);
  d.setUTCSeconds(utcSeconds)
  let dd = d.getDate();
  let mm = d.getMonth() + 1;
  let yyyy = d.getFullYear();
  return dd + '-' + mm + '-' + yyyy;
}

function dateFormatter(date) {
  let d = new Date(date);
  let dd = d.getDate();
  let mm = d.getMonth() + 1;
  let yyyy = d.getFullYear();
  return dd + '-' + mm + '-' + yyyy;
}

function remainingDays(endEpoc){
  const date1 = new Date();
  const date2 = new Date(0);
  date2.setUTCSeconds(endEpoc)
  const diffTime = Math.abs(date2 - date1);
  const diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24)); 
  return diffDays
}

%>

<%if(paypalActive){%>
<script src="https://www.paypal.com/sdk/js?client-id=<%=paypalClientID%>&disable-funding=card"></script>
<%}%>
<script>
  var paypalActive =<%=paypalActive%>
</script>
<script>
    function setPayPalButton(id, serverData, type) {
      let server = serverData.server_name ? serverData.server_name : ''
      let currency = serverData.vip_currency ? serverData.vip_currency : ''
      let price = serverData.vip_price ? serverData.vip_price : ''

      if (paypalActive == true && price && currency && server) {
        paypal.Buttons({
          createOrder: (data, actions) => {
            return actions.order.create({
              purchase_units: [
                {
                  description: "1 Month VIP for " + server + (type == 'newPurchase' ? " (New Buy)" : type == 'renewPurchase' ? " (Renewal)" : ""),
                  amount: {
                    currency_code: currency,
                    value: price,
                  },
                },
              ],
            });
          },
          onCancel: (data) => {
            console.log("** On Cancel Event Payment **");
            console.log("Data->>", data);
            showNotif({
              success: false,
              data: { "error": "Payment Failed! , Process terminated by user." }
            })
          },
          onApprove: async (data, actions) => {
            let loader = `<div class="loading">Loading&#8230;</div>`;
            $("#divForLoader").html(loader)
            console.log("** On Approve Event Payment **");
            console.log("Data->>", data);
            showNotif({
              success: true,
              data: { "message": "Payment Sucess! , Order Id:" + data.orderID + ". Processing furture steps to activate your VIP Subscription.", "notifType": "success" }
            })
            const order = await actions.order.capture();
            console.log("order->>", order);
            afterPaymentajax({
              "serverData": serverData,
              "paymentData": order,
              "buyType": type
            })
          },
          onError: async (error) => {
            console.log("** On Error Event Payment **");
            console.log("error->>", error);
            showNotif({
              success: false,
              data: { "error": "Payment Failed! , Some Error occured try again later. Contact support if you were charged and still got error" }
            })
          },
          "style": {
            "color": "blue",
            "shape": "rect",
            "size": "responsive",
            "layout": "vertical"
          }
        })
          .render('#' + id);
      } else {
        document.getElementById(id).innerHTML = `<div class="stats text-warning">PayPal not working contact Support</div>`
      }

    }
</script>


<%- include('Header.ejs') %>

<div class="content">
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-12 row">
        <%if(serverArray){%>
        <% for(let i=0; i < serverArray.length;i++){%>
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
          <div class="card card-stats">
            <div class="card-header card-header-<%= (i==0||i%2==0)?'warning':'success' %> card-header-icon">
              <div class="card-icon">
                <i class="material-icons">shopping_cart</i>
              </div>
              <p class="card-category">Buy VIP For <%=serverArray[i].server_name?serverArray[i].server_name:"NA"%></p>
              <h3 class="card-title">
                <%=serverArray[i].vip_price?serverArray[i].vip_price+" "+serverArray[i].vip_currency:"NA"%>
              </h3>
              <%if(serverArray[i].server_ip&&serverArray[i].server_port){%>
              <a href="<%='steam://connect/'+serverArray[i].server_ip+':'+serverArray[i].server_port%>"
                class="card-title text-success">Wanna Test the Server! <i
                  class="material-icons">settings_input_composite</i></a>
              <%}%>
            </div>
            <div class="card-footer text-primary text-center">
              <img src
                onerror="setPayPalButton('<%= serverArray[i].tbl_name ? serverArray[i].tbl_name +`buy`: `buy`+i %>',<%= JSON.stringify(serverArray[i]) %>,'newPurchase')"
              alt />
              <div id="<%=serverArray[i].tbl_name ? serverArray[i].tbl_name+'buy' : 'buy'+i %>"
                class="col-md-12 text-center">
              </div>
            </div>
          </div>
        </div>
        <%}}%>
      </div>

      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-<%=panelSetting.color_theme%>">
            <div class="col-md-12 row">
              <div class="col-md-11">
                <h4 class="card-title ">
                  <%=((sessionSteamId&&steamName)?steamName:'')+"'s - VIP/Admin Status for "+panelSetting.community_name+" Servers"%>
                </h4>
                <p class="card-category">You have Vip/Admin roles in <%=userDataListing.length%> Servers</p>
              </div>
              <div class="col-md-1">
                <img src='<%= userData? userData.avatarUrl:"" %>' class="pull-right" height="60px"
                  alt='Your Avatar Image' style="border-radius: 5%;" />
              </div>
            </div>
          </div>
          <div class="card-body scroller" style="max-height:400px;overflow: auto;" id="style-4">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                  <th>Server Name</th>
                  <th>My Steam Id</th>
                  <th>My Role</th>
                  <th>Sub. Start Date</th>
                  <th>Sub. End Date</th>
                  <th>Days Left</th>
                  <th>Renew VIP</th>
                </thead>
                <tbody>
                  <% if(userDataListing) {%>
                  <% for(let j=0; j < userDataListing.length; j++) { %>
                  <tr>
                    <td><%=userDataListing[j].servername?userDataListing[j].servername:"NA"%></td>
                    <td>
                      <%=userDataListing[j].data?((userDataListing[j].data.authId).replace('"','').replace('"','')):"NA"%>
                    </td>
                    <td>
                      <%=(userDataListing[j].data&&userDataListing[j].data.type===0)?"VIP":(userDataListing[j].data&&userDataListing[j].data.type===1)?"ADMIN":"NA"%>
                    </td>
                    <td class="text-info">
                      <%=(userDataListing[j].data&&userDataListing[j].data.created_at)?dateFormatter(userDataListing[j].data.created_at):"NA"%>
                    </td>
                    <td class="text-danger">
                      <%=(userDataListing[j].data&&userDataListing[j].data.expireStamp)?EpocToDate(userDataListing[j].data.expireStamp):"NA"%>
                    </td>
                    <td
                      class="text-<%= ((remainingDays(userDataListing[j].data.expireStamp)/1)<10)?'warning':((remainingDays(userDataListing[j].data.expireStamp)/1)<5)?'danger':'primary' %>">
                      <%=(userDataListing[j].data&&userDataListing[j].data.expireStamp)?remainingDays(userDataListing[j].data.expireStamp):"NA"%>
                    </td>
                    <td>
                      <%if(userDataListing[j].data && userDataListing[j].data.type==0){%>
                      <div>
                        <!-- class="col-md-6 ml-0 pl-0" -->
                        <img src
                          onerror="setPayPalButton('<%= (userDataListing[j].serverdata && userDataListing[j].serverdata && userDataListing[j].serverdata.tbl_name) ? userDataListing[j].serverdata.tbl_name + `renew`: `renew`+j %>', <%= JSON.stringify(userDataListing[j].serverdata) %>,'renewPurchase')"
                          alt />
                        <div
                          id="<%=(userDataListing[j].serverdata && userDataListing[j].serverdata && userDataListing[j].serverdata.tbl_name) ? userDataListing[j].serverdata.tbl_name+'renew' : 'renew'+j %>"
                          class="col-md-12">
                        </div>
                      </div>
                      <%}else{%>
                      NA
                      <%}%>
                    </td>
                  </tr>
                  <%}}%>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<%- include('Footer.ejs') %>

<script src="./js/notifications.js"></script>
<script src="./js/myDashboard.js"></script>