<!-- 
/* VMP-by-Summer-Soldier
*
* Copyright (C) 2020 SUMMER SOLDIER
*
* This file is part of VMP-by-Summer-Soldier
*
* VMP-by-Summer-Soldier is free software: you can redistribute it and/or modify it
* under the terms of the GNU General Public License as published by the Free
* Software Foundation, either version 3 of the License, or (at your option)
* any later version.
*
* VMP-by-Summer-Soldier is distributed in the hope that it will be useful, but WITHOUT
* ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
* FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with
* VMP-by-Summer-Soldier. If not, see http://www.gnu.org/licenses/.
*/ -->

<%
function EpocToDate(utcSeconds) {
  let d = new Date(0);
  d.setUTCSeconds(utcSeconds)
  let dd = d.getDate();
  let mm = d.getMonth() + 1;
  let yyyy = d.getFullYear();
  return dd + '-' + mm + '-' + yyyy;
}

function dateFormatter(date) {
  let d = new Date(date);
  let dd = d.getDate();
  let mm = d.getMonth() + 1;
  let yyyy = d.getFullYear();
  return dd + '-' + mm + '-' + yyyy;
}

function remainingDays(endEpoc){
  const date1 = new Date();
  const date2 = new Date(0);
  date2.setUTCSeconds(endEpoc)
  const diffTime = Math.abs(date2 - date1);
  const diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24)); 
  return diffDays
}

%>

<%- include('Header.ejs') %>

<div class="content">
  <div class="container-fluid">

    <%if(sessionToken){%>
    <div class="row">
      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-warning card-header-icon">
            <a href="/panelsetting#listserver">
              <div class="card-icon">
                <i class="material-icons">device_hub</i>
              </div>
            </a>
            <p class="card-category">Total Servers</p>
            <h3 class="card-title"><%=adminStats.serverCount ?adminStats.serverCount :"NA" %></h3>
          </div>
          <div class="card-footer">
            <div class="stats text-warning">
              <i class="material-icons">device_hub</i> My Total Servers
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-success card-header-icon">
            <a href="/managevip">
              <div class="card-icon">
                <i class="material-icons">sentiment_satisfied_alt</i>
              </div>
            </a>
            <p class="card-category">Total Active Users</p>
            <h3 class="card-title"><%= adminStats.userCount ?adminStats.userCount :"NA"  %></h3>
          </div>
          <div class="card-footer">
            <div class="stats text-warning">
              <i class="material-icons">sentiment_satisfied_alt</i> My Total Happy Users
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-danger card-header-icon">
            <a href="/salesrecord">
              <div class="card-icon">
                <i class="material-icons">shopping_cart</i>
              </div>
            </a>
            <p class="card-category">Total New VIP Purchased</p>
            <h3 class="card-title"><%= adminStats.saleCount ?adminStats.saleCount :"NA"  %></h3>
          </div>
          <div class="card-footer">
            <div class="stats text-warning">
              <i class="material-icons">shopping_cart</i> New Purchases
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-info card-header-icon">
            <a href="/salesrecord">
              <div class="card-icon">
                <i class="material-icons">settings_backup_restore</i>
              </div>
            </a>
            <p class="card-category">Total VIP Renewed</p>
            <h3 class="card-title"><%= adminStats.renewSaleCount ?adminStats.renewSaleCount :"NA"  %></h3>
          </div>
          <div class="card-footer">
            <div class="stats text-warning">
              <i class="material-icons">settings_backup_restore</i> Renewals
            </div>
          </div>
        </div>
      </div>
    </div>
    <%}%>

    <div class="row">
      <% if(serverData) {%>
    <% for(let i=0; i < serverData.length; i++) { %>
    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-header card-header-warning card-header-icon">
          <a href="<%='steam://connect/'+serverData[i].server_ip+':'+serverData[i].server_port%>">
            <div class="card-icon">
              <img src="./images/gear.gif" height='50' alt="connect">
            </div>
          </a>
          <p class="card-category">Connect on <%= panelSetting.community_name?panelSetting.community_name:''%>'s</p>
          <h3 class="card-title text-warning"><%= serverData[i].server_name?serverData[i].server_name:"NA"  %></h3>
        </div>
        <div class="card-footer">
          <div class="stats text-warning">
            <i class="material-icons">local_offer</i>
            <%=serverData[i].vip_price? serverData[i].vip_price+" "+serverData[i].vip_currency+" for "+serverData[i].vip_days+" days"  :"NA"%>
          </div>
        </div>
      </div>
    </div>
    <%}}%>
  </div>

  <div class="row">
    <% if(vipData) {%>
    <% for(let i=0; i < vipData.length; i++) { %>
    <% if( ((vipData[i].type==="VIPs" && panelSetting.dash_vip_show==1 && !sessionToken ) ||(vipData[i].type==="VIPs" && sessionToken)  ) || (vipData[i].type==="ADMINs" && panelSetting.dash_admin_show==1)) {%>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header card-header-<%=panelSetting.color_theme%>">
          <h4 class="card-title "><%=vipData[i].servername.toUpperCase()+' - '+vipData[i].type %></h4>
          <p class="card-category">Total <%=vipData[i].type+':'+vipData[i].data.length%> </p>
        </div>
        <div class="card-body scroller" style="max-height:400px;overflow: auto;" id="style-4">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>Steam ID</th>
                <th>Name</th>
                <th>Sub. Start Date</th>
                <th>Sub. End Date</th>
                <th>Days Left</th>
              </thead>
              <tbody>
                <% if(vipData[i].data) {%>
                <% for(let j=0; j < vipData[i].data.length; j++) { %>
                <tr>
                  <td>
                    <%=vipData[i].data[j].authId?((vipData[i].data[j].authId).replace('"','').replace('"','')):"NA"%>
                  </td>
                  <td><%=vipData[i].data[j].name?vipData[i].data[j].name.replace("//",""):"NA"%></td>
                  <td class="text-info">
                    <%=vipData[i].data[j].created_at?dateFormatter(vipData[i].data[j].created_at):"NA"%></td>
                  <td class="text-danger">
                    <%=vipData[i].data[j].expireStamp?EpocToDate(vipData[i].data[j].expireStamp):"NA"%></td>
                  <td
                    class="text-<%= ((remainingDays(vipData[i].data[j].expireStamp)/1)<10)?'warning':((remainingDays(vipData[i].data[j].expireStamp)/1)<5)?'danger':'primary' %>">
                    <%=vipData[i].data[j].expireStamp?remainingDays(vipData[i].data[j].expireStamp):"NA"%>
                  </td>
                </tr>
                <%}}%>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <%}}}%>
  </div>
</div>
</div>


<%- include('Footer.ejs') %>