<!-- 
/* VMP-by-Summer-Soldier
*
* Copyright (C) 2020 SUMMER SOLDIER
*
* This file is part of VMP-by-Summer-Soldier
*
* VMP-by-Summer-Soldier is free software: you can redistribute it and/or modify it
* under the terms of the GNU General Public License as published by the Free
* Software Foundation, either version 3 of the License, or (at your option)
* any later version.
*
* VMP-by-Summer-Soldier is distributed in the hope that it will be useful, but WITHOUT
* ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
* FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with
* VMP-by-Summer-Soldier. If not, see http://www.gnu.org/licenses/.
*/ -->

<%- include('Header.ejs') %>

<div class="content">
  <div class="container-fluid">
    <div class="col-md-12 row">
      <%if(steamLogin){%>
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-<%=panelSetting.color_theme%> card-header-icon">
            <div class="card-icon">
              <i class="material-icons">fingerprint</i>
            </div>
            <p class="card-category">Steam Login for</p>
            <h3 class="card-title">User</h3>
          </div>
          <div class="card-footer" style="height:170px;">
            <div class="col-md-12">
              <h3 class="text-secondary">User Can login through Steam to check their VIP status in detail or Buy/Renew
                VIP
              </h3>
              <button type="button" class="btn btn-link pull-right" onClick='callSteamLogin()'><img
                  src="https://steamcommunity-a.akamaihd.net/public/images/signinthroughsteam/sits_01.png" width="180"
                  height="35" border="0" alt="Steam Login"></button>
            </div>
          </div>
        </div>
      </div>
      <%}%>
      <%if((panelSetting.hiddenadmin_login/1 == 0) || (panelSetting.hiddenadmin_login/1==1 && adminRoute==true)){%>
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-<%=panelSetting.color_theme%> card-header-icon">
            <div class="card-icon">
              <i class="material-icons">fingerprint</i>
            </div>
            <p class="card-category">Id-Pass Login for</p>
            <h3 class="card-title">Admin</h3>
          </div>
          <div class="card-footer">
            <form class="col-md-12" method="post" action="/adminlogin">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group bmd-form-group">
                    <label class="bmd-label-floating">Enter Username</label>
                    <input type="text" name="username" class="form-control" required>
                  </div>
                  <div class="form-group bmd-form-group">
                    <label class="bmd-label-floating">Enter Password</label>
                    <input type="password" name="password" class="form-control" required>
                  </div>
                </div>
              </div>
              <button type="submit" class="btn btn-success pull-right">Login</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
      <%}%>
</div>
</div>
</div>

<%- include('Footer.ejs') %>

      <script>
        let errorMsg = "<%=error%>"

        $(document).ready(function () {
          if (errorMsg) {
            $.notify({
              icon: "add_alert",
              message: errorMsg

            }, {
              type: "warning",
              timer: 3000,
              placement: {
                from: "top",
                align: "right"
              }
            });
          }
        });

        function callSteamLogin() {
          window.location = '/auth/steam';
        }
      </script>